<template>
    <div class="container">
            <h1>ADD FEEDBACK</h1>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" v-model="feedback.name">
            </div>
                <p v-if="!feedback.name">{{errors}}</p>
            <div class="form-group">
                <label>Phone</label>
                <input type="text" class="form-control" v-model="feedback.phone">
            </div>
                <p v-if="!feedback.phone">{{errors}}</p>
            <div class="form-group">
                <label>Message</label>
                <input type="text" class="form-control" v-model="feedback.message" >
            </div>
                <p v-if="!feedback.message">{{errors}}</p>
            <button @click.prevent="addFeedback()" class="btn btn-outline-secondary">SEND FEEDBACK</button>
    </div>

</template>

<script>
    export default {
        data(){
            return{
                feedbacks: [],
                errors: '',
                feedback: {
                    name: '',
                    phone: '',
                    message: ''
                },
            }
        },
        methods: {
            addFeedback(){
                var input = this.feedback;

                axios.post('/feedback', input)
                    .then(response => {
                        location.reload()
                    })
                    .catch(error => {
                        this.errors = error.response.data.message
                    });
            }
        }
    }
</script>
